In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [2]:
# Load the dataset
flight_df = pd.read_csv('Flight_delay.csv')

In [3]:
flight_df.head()

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16

In [4]:
flight_df.shape

(484551, 29)

In [5]:
flight_df.columns.values

array(['DayOfWeek', 'Date', 'DepTime', 'ArrTime', 'CRSArrTime',
       'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Org_Airport', 'Dest', 'Dest_Airport',
       'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode',
       'Diverted', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay'], dtype=object)

In [6]:
flight_df.dtypes

DayOfWeek             int64
Date                 object
DepTime               int64
ArrTime               int64
CRSArrTime            int64
UniqueCarrier        object
Airline              object
FlightNum             int64
TailNum              object
ActualElapsedTime     int64
CRSElapsedTime        int64
AirTime               int64
ArrDelay              int64
DepDelay              int64
Origin               object
Org_Airport          object
Dest                 object
Dest_Airport         object
Distance              int64
TaxiIn                int64
TaxiOut               int64
Cancelled             int64
CancellationCode     object
Diverted              int64
CarrierDelay          int64
WeatherDelay          int64
NASDelay              int64
SecurityDelay         int64
LateAircraftDelay     int64
dtype: object

In [7]:
flight_df['CancellationCode'].value_counts()

CancellationCode
N    484551
Name: count, dtype: int64

**Question 1**

In [8]:
flight_df.isnull().sum()

DayOfWeek               0
Date                    0
DepTime                 0
ArrTime                 0
CRSArrTime              0
UniqueCarrier           0
Airline                 0
FlightNum               0
TailNum                 0
ActualElapsedTime       0
CRSElapsedTime          0
AirTime                 0
ArrDelay                0
DepDelay                0
Origin                  0
Org_Airport          1177
Dest                    0
Dest_Airport         1479
Distance                0
TaxiIn                  0
TaxiOut                 0
Cancelled               0
CancellationCode        0
Diverted                0
CarrierDelay            0
WeatherDelay            0
NASDelay                0
SecurityDelay           0
LateAircraftDelay       0
dtype: int64

In [9]:
flight_df['Org_Airport'].isna().sum()

1177

In [10]:
# Here we have replaced the value with most occuring value in the column
flight_df['Org_Airport'].fillna(flight_df['Org_Airport'].mode()[0],inplace=True)

In [11]:
flight_df['Org_Airport'].isna().sum()

0

similar with Dest_Airport

In [12]:
flight_df['Dest_Airport'].fillna(flight_df['Dest_Airport'].mode()[0],inplace=True)

In [13]:
flight_df['Dest_Airport'].isna().sum()

0

In [14]:
flight_df.isnull().sum()

DayOfWeek            0
Date                 0
DepTime              0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
Airline              0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Org_Airport          0
Dest                 0
Dest_Airport         0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

**Question 2**

Use of Standard scaler from the sklearn for normalization

In [15]:
scaler = StandardScaler()

In [16]:
normalixe_col = ['DayOfWeek', 'LateAircraftDelay', 'SecurityDelay', 'NASDelay', 'WeatherDelay', 'CarrierDelay', 
                    'Diverted', 'Cancelled', 'TaxiOut', 'TaxiIn', 'Distance', 'DepDelay', 'ArrDelay', 'AirTime', 
                    'CRSElapsedTime', 'ActualElapsedTime', 'FlightNum', 'CRSArrTime', 'ArrTime', 'DepTime']

In [17]:
scaler.fit_transform(flight_df[normalixe_col])

array([[ 0.00425846,  0.13189313, -0.04352391, ...,  0.58543782,
         0.58463656,  0.58492218],
       [ 0.00425846,  0.50193501, -0.04352391, ...,  0.61762005,
         0.71828126,  0.8237362 ],
       [ 0.00425846,  1.11867147, -0.04352391, ...,  0.15634143,
         0.38930969,  0.1758426 ],
       ...,
       [-1.0102161 , -0.16414038, -0.04352391, ...,  0.563983  ,
         0.65831249,  0.1161391 ],
       [ 1.5259703 , -0.04079308, -0.04352391, ...,  0.563983  ,
         0.55379548,  0.09402669],
       [-1.51745338, -0.65752955, -0.04352391, ...,  0.563983  ,
         0.54008833,  0.09623793]])

**Question 3**

Use of label-encoding for catergorical values

In [18]:
flight_df.dtypes

DayOfWeek             int64
Date                 object
DepTime               int64
ArrTime               int64
CRSArrTime            int64
UniqueCarrier        object
Airline              object
FlightNum             int64
TailNum              object
ActualElapsedTime     int64
CRSElapsedTime        int64
AirTime               int64
ArrDelay              int64
DepDelay              int64
Origin               object
Org_Airport          object
Dest                 object
Dest_Airport         object
Distance              int64
TaxiIn                int64
TaxiOut               int64
Cancelled             int64
CancellationCode     object
Diverted              int64
CarrierDelay          int64
WeatherDelay          int64
NASDelay              int64
SecurityDelay         int64
LateAircraftDelay     int64
dtype: object

In [19]:
cat_col=['CancellationCode','Dest','Org_Airport','Origin','TailNum','Airline','UniqueCarrier','Date']

In [20]:
flight_df_onehot = pd.get_dummies(flight_df,columns=cat_col)

In [21]:
flight_df_onehot.shape

(484551, 4546)

In [22]:
flight_df_onehot.head()

,DayOfWeek,DepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,...,Date_29-05-2019,Date_29-06-2019,Date_30-01-2019,Date_30-03-2019,Date_30-04-2019,Date_30-05-2019,Date_30-06-2019,Date_31-01-2019,Date_31-03-2019,Date_31-05-2019
0,4,1829,1959,1925,3920,90,90,77,34,34,...,False,False,False,False,False,False,False,False,False,False
1,4,1937,2037,1940,509,240,250,230,57,67,...,False,False,False,False,False,False,False,False,False,False
2,4,1644,1845,1725,1333,121,135,107,80,94,...,False,False,False,False,False,False,False,False,False,False
3,4,1452,1640,1625,675,228,240,213,15,27,...,False,False,False,False,False,False,False,False,False,False
4,4,1323,1526,1510,4,123,135,110,16,28,...,False,False,False,False,False,False,False,False,False,False