In [13]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('telecom_churn.csv')

In [3]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [4]:
df.shape

(3333, 21)

In [5]:
df.columns.values

array(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'], dtype=object)

In [6]:
df.dtypes

state                      object
account length              int64
area code                   int64
phone number               object
international plan         object
voice mail plan            object
number vmail messages       int64
total day minutes         float64
total day calls             int64
total day charge          float64
total eve minutes         float64
total eve calls             int64
total eve charge          float64
total night minutes       float64
total night calls           int64
total night charge        float64
total intl minutes        float64
total intl calls            int64
total intl charge         float64
customer service calls      int64
churn                        bool
dtype: object

**Question 1**

In [9]:
df.isnull().sum()

state                     0
account length            0
area code                 0
phone number              0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

In [10]:
df.isna().sum()

state                     0
account length            0
area code                 0
phone number              0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

No missing values found

**Question 2**

In [12]:
df.duplicated().sum()

0

NO duplicate values found

**Question 3**

Standardize using minmax(Normalization) or standardScalar(Standardization(z-index Normalization))

In [14]:
scalar = StandardScaler()

In [15]:
df_copy = df.copy()

In [16]:
df_copy.dtypes

state                      object
account length              int64
area code                   int64
phone number               object
international plan         object
voice mail plan            object
number vmail messages       int64
total day minutes         float64
total day calls             int64
total day charge          float64
total eve minutes         float64
total eve calls             int64
total eve charge          float64
total night minutes       float64
total night calls           int64
total night charge        float64
total intl minutes        float64
total intl calls            int64
total intl charge         float64
customer service calls      int64
churn                        bool
dtype: object

In [18]:
df_copy.drop(columns=['state','phone number','international plan','voice mail plan'],axis=1,inplace=True)

In [23]:
df_copy.shape

(3333, 17)

In [24]:
scalar.fit_transform(df_copy)

array([[ 0.67648946, -0.52360328,  1.23488274, ..., -0.0856905 ,
        -0.42793202, -0.41167182],
       [ 0.14906505, -0.52360328,  1.30794844, ...,  1.2411686 ,
        -0.42793202, -0.41167182],
       [ 0.9025285 , -0.52360328, -0.59175986, ...,  0.69715637,
        -1.1882185 , -0.41167182],
       ...,
       [-1.83505538,  1.71881732, -0.59175986, ...,  1.3871231 ,
         0.33235445, -0.41167182],
       [ 2.08295458,  1.71881732, -0.59175986, ..., -1.87695028,
         0.33235445, -0.41167182],
       [-0.67974475, -0.52360328,  1.23488274, ...,  1.2411686 ,
        -1.1882185 , -0.41167182]])

Here the variables are standardized