In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
df = pd.read_csv('house_sales.csv')

In [3]:
df.head()

,Unnamed: 0,Sq_Ft_Tot_Living,Sq_Ft_Lot,Bathroom_count,Bedroom_count,Bldg_Grade,House_Sale_Price
0,0,2400,9373,3.00,6,7,300805.0
1,1,3764,20156,3.75,4,10,1076162.0
2,2,2060,26036,1.75,4,8,761805.0
3,3,3200,8618,3.75,5,7,442065.0
4,4,1720,8620,1.75,4,7,297065.0

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
df.dtypes

Sq_Ft_Tot_Living      int64
Sq_Ft_Lot             int64
Bathroom_count      float64
Bedroom_count         int64
Bldg_Grade            int64
House_Sale_Price    float64
dtype: object

In [6]:
X = df[['Sq_Ft_Tot_Living','Sq_Ft_Lot','Bathroom_count','Bedroom_count','Bldg_Grade']]

In [7]:
y=df['House_Sale_Price']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [9]:
def evaluate_model(model, X_test, y_test):
    y_pred = model.predict(X_test)
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    return mae, mse, r2

In [10]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)
rf_mae, rf_mse, rf_r2 = evaluate_model(rf_model, X_test, y_test)

In [11]:
print("Random Forest Regression:")
print("MAE:", rf_mae)
print("MSE:", rf_mse)
print("R-squared:", rf_r2)

Random Forest Regression:
MAE: 124866.56837953858
MSE: 46365525927.30066
R-squared: 0.6591043265090955

In [12]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
lr_mae, lr_mse, lr_r2 = evaluate_model(lr_model, X_test, y_test)

In [13]:
print("\nLinear Regression:")
print("MAE:", lr_mae)
print("MSE:", lr_mse)
print("R-squared:", lr_r2)

Linear Regression:
MAE: 146909.04180260218
MSE: 58867385173.54152
R-squared: 0.5671862550023007

In [14]:
gb_model = GradientBoostingRegressor(n_estimators=100, random_state=42)
gb_model.fit(X_train, y_train)
gb_mae, gb_mse, gb_r2 = evaluate_model(gb_model, X_test, y_test)

In [15]:
print("\nGradient Boosting Regression:")
print("MAE:", gb_mae)
print("MSE:", gb_mse)
print("R-squared:", gb_r2)

Gradient Boosting Regression:
MAE: 125497.68121962217
MSE: 44926132884.356064
R-squared: 0.6696872510199074