In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler,OrdinalEncoder

In [2]:
# Load the dataset
df = pd.read_csv('retail_sales_dataset.csv')

In [3]:
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [4]:
df.shape

(1000, 9)

In [5]:
df.columns.values

array(['Transaction ID', 'Date', 'Customer ID', 'Gender', 'Age',
       'Product Category', 'Quantity', 'Price per Unit', 'Total Amount'],
      dtype=object)

In [6]:
df.dtypes

Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

**Question 1**

No null values

In [7]:
df.isnull().sum()

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

In [8]:
df.isna().sum()

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

No Missing values found

**Question 2**

For normalization we can use minmax saclar

In [9]:
min_max_scalar = MinMaxScaler()

In [10]:
scale_col = ['Transaction ID','Age','Quantity','Price per Unit','Total Amount']

In [11]:
min_max_scalar.fit_transform(df[scale_col])

array([[0.        , 0.34782609, 0.66666667, 0.05263158, 0.06329114],
       [0.001001  , 0.17391304, 0.33333333, 1.        , 0.49367089],
       [0.002002  , 0.69565217, 0.        , 0.01052632, 0.00253165],
       ...,
       [0.997998  , 0.10869565, 1.        , 0.        , 0.03797468],
       [0.998999  , 0.39130435, 0.66666667, 0.05263158, 0.06329114],
       [1.        , 0.63043478, 1.        , 0.01052632, 0.04810127]])

**Question 3**

Due to nominal data the one-hot-encoding technique is used

In [12]:
one_hot_col = ['Date','Customer ID','Gender','Product Category']

In [13]:
one_hot = pd.get_dummies(df[one_hot_col])

In [14]:
one_hot['Date_2023-01-01'].value_counts()

Date_2023-01-01
False    997
True       3
Name: count, dtype: int64

or else do label encoding

In [15]:
df['Product Category'].value_counts()

Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

In [16]:
one_hot.head()

,Date_2023-01-01,Date_2023-01-02,Date_2023-01-03,Date_2023-01-04,Date_2023-01-05,Date_2023-01-06,Date_2023-01-07,Date_2023-01-08,Date_2023-01-09,Date_2023-01-10,...,Customer ID_CUST995,Customer ID_CUST996,Customer ID_CUST997,Customer ID_CUST998,Customer ID_CUST999,Gender_Female,Gender_Male,Product Category_Beauty,Product Category_Clothing,Product Category_Electronics
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False